camp-core/dist(/|$)
camp-core/Setup$
camp-core/Setup\.hi$
camp-core/Setup\.o$
camp-core/head$
camp-core/stable$
camp-core/bindist$
camp-bin/dist(/|$)
camp-bin/Setup$
camp-bin/Setup\.hi$
camp-bin/Setup\.o$
camp-bin/head$
camp-bin/stable$
camp-bin/bindist$
camp-repository/dist(/|$)
camp-repository/Setup$
camp-repository/Setup\.hi$
camp-repository/Setup\.o$
camp-repository/head$
camp-repository/stable$
camp-repository/bindist$
.swp

